* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.navbar {
  position: fixed !important;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: rgb(120, 120, 120) !important;
  color: white !important;
}
.navbar-toggler,
.dropdown-menu {
  background-color: rgb(187, 179, 179) !important;
}
.title {
  color: rgb(160, 12, 111);
  padding: 0px 20px;
}
.navbar a {
  color: white;
}
.navbar a:hover {
  color: white;
  text-decoration: underline;
}
.total {
  border: 1px solid rgb(160, 12, 111);
  border-radius: 10px;
  padding: 1%;
}
.main {
  position: relative !important;
  top: 74px !important;
  left: 0px;
  background-color: rgb(156, 190, 167);
}
.carousel-item img {
  height: 36rem !important;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-bottom: 20px;
}
.product {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(156, 190, 167);
  box-shadow: 10px 10px 5px 5px grey;
}
.icons {
  display: flex;
  justify-content: space-between;
}
.instru {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qte {
  border: 1px solid rgb(156, 190, 167);
  padding: 5px 10px;
  text-align: center;
}
.product img {
  width: 18rem !important;
  height: 250px;
  border-radius: 5%;
}
.cards .fa {
  padding: 10px;
  font-size: 20px !important;
  color: rgb(5, 34, 34);
}
footer {
  display: flex !important;
  justify-content: space-evenly;
  background-color: rgb(120, 120, 120);
  color: white;
  padding: 10px !important;
}
.red-heart {
  color: red !important;
}
